<h4>Installfest Rails 3.2</h4>
<p>This guide is currently based on Rails 3.2. We're working on an upgrade to Rails 4.0</p>
<ul>
  <li><%= link_to 'Getting Started',                '/guides/installfest/getting_started' %></li>
  <li><%= link_to 'Finishing a Basic Blog',         '/guides/installfest/finishing_a_basic_blog' %></li>
  <li><%= link_to 'Testing the Blog',               '/guides/installfest/testing_the_blog' %></li>
  <li><%= link_to 'Admin and Markdown',             '/guides/installfest/admin_and_markdown' %></li>
  <li><%= link_to 'Understanding Migrations',       '/guides/installfest/understanding_migrations' %></li>
  <li><%= link_to 'Assets and Errors',              '/guides/installfest/assets_and_errors' %></li>
</ul>
<h4>Installfest Rails 4.0</h4>
<ul>
  <li><%= link_to 'Getting Started',                '/guides/installfest_4/getting_started' %></li>
</ul>
